<div *ngIf="bookService.book">
  <app-book></app-book>
</div>
<nav class="navbar">
  <div class="navbar__logo">
    <a [routerLink]="['']">Batarejka</a>
  </div>
  <ul class="navbar__navigation">
    <li class="navbar__item">
      <a [routerLink]="['']">Главная</a>
    </li>
    <li class="navbar__item" *ngIf="authService.token">
      <a [routerLink]="['fave']" >Закладки</a>
    </li>
    <li class="navbar__item">
      <a [routerLink]="['info']">Информация</a>
    </li>
    <li class="navbar__item" *ngIf="!authService.token; else logoutBlock">
      <a  (click)="authService.modal = true" >Авторизация</a>
    </li>
    <ng-template #logoutBlock>
      <li class="navbar__item">
        <a  (click)="logout()" >Выход</a>
      </li>
    </ng-template>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
<div *ngIf="authService.modal">
  <app-auth ></app-auth>
</div>
